/*
  white:#DFECEB
  Dark:#0F1B1A
  sec-wh:#BBD2CE
  tir-wh:#94B6B4
  light-gold:B4955A
*/

@mixin afterBeforeMenuItem {
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: #4f5c56;
  position: absolute;

  right: 0;

  z-index: 1003;
}

.side_container {
  width: 20%;
  height: 100vh;
  background-color: #4f5c56;
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
  position: fixed;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  .user {
    background-color: #0f1b1a;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;

    .user-img {
      //  background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #b4955a;

      img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin: 3px;
      }
      margin-bottom: 2rem;
    }

    .user-name {
      text-transform: uppercase;
      font-size: 1.1rem;
    }

    .user-email {
      font-weight: 200;
      font-size: 0.7rem;
    }
  }

  #dark::before,
  #dark::after {
    background-color: #191717;
  }

  .menu-footer {
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    .menu::before {
      @include afterBeforeMenuItem();
      border-bottom-right-radius: 20px;
      top: -2rem;
    }
    .menu {
      position: relative;
      margin-bottom: 2rem;
      a {
        text-decoration: none;
        color: #333;
      }

      .added {
        width: calc(100% - 1rem);
        background-color: #4f5c56;
        height: 3rem;
        position: absolute;
        margin-left: 1rem;
        border-radius: 20px;
        //    background: red;
        z-index: 100;
      }

      .active {
        background-color: #e5efee;
        //   z-index: 999999999;
        span {
          color: #333;
          font-weight: bold;
        }
      }

      #dark-item::before,
      #dark-item::after {
        background-color: #303030;
      }

      .list-item {
        position: relative;

        img {
          height: 1.5rem;
          fill: #fff;
          position: absolute;
          z-index: 10000;
        }
        height: 3rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        margin-left: 1rem;
        border-radius: 20px 0 0 20px;
        padding-left: 1rem;
        color: #fff;

        span {
          text-transform: uppercase;
          // margin-left: 2rem;
          position: absolute;
          z-index: 100000;
          margin-left: 4rem;
        }
      }

      .active::after {
        content: "";
        width: 2rem;
        color: #fff;
        background: inherit;
        height: 3rem;
        position: absolute;
        right: 0rem;
        top: -2rem;
        /* border-radius: 90px; */
        z-index: 2;
        /* z-index: 100000; */
        background-color: #e5efee;
      }

      .active::before {
        content: "";
        width: 2rem;
        color: #fff;
        background: inherit;
        height: 3rem;
        position: absolute;
        right: 0rem;
        bottom: -2rem;

        z-index: 2;

        background-color: #e5efee;
      }
    }

    .menu::after {
      @include afterBeforeMenuItem();
      border-top-right-radius: 20px;
      bottom: -2rem;
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 8rem;
        width: 9rem;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .side_container {
    .user {
      .user-name {
        font-size: 0.7rem;
      }
      .user-email {
        font-size: 0.4rem;
      }
    }
      .menu-footer {
      .menu {
        .list-item {
          span {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .side_container {
    width: 10%;
    .user {
      .user-name,
      .user-email {
        display: none;
      }

      .user-img {
        height: 3.5rem;
        width: 3.5rem;

        img {
          height: 3rem;
          width: 3rem;
        }
      }
    }
    .menu-footer {
      .menu {
        .list-item {
          // background-color: yellow !important;
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .side_container {
    width: 10%;
    .menu-footer {
      .menu {
        .list-item {
          span {
            display: none;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 680px) {
  @mixin afterBeforeMenuItem {
    bottom: 0;
    top: initial;
  }
  .side_container {
    width: 100%;
    height: 4rem;
    display: flex;
    position: absolute;
    border-radius: 0 0 2rem 2rem;
    .user {
      display: none;
    }
    .menu-footer {
      margin-top: 0;
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: center;
      .menu::before {
        @include afterBeforeMenuItem();
        border-bottom-right-radius: 15px;

        left: -2rem;
      }
      .menu::after {
        @include afterBeforeMenuItem();
        border-bottom-left-radius: 15px;
        right: -2rem;
      }
      .menu {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        margin-bottom: 0;

        a {
          width: 25%;
          display: flex;
          justify-content: center;
        }

        .added {
          width: 25%;
          height: 100%;
          border-radius: 0 0 15px 15px;
          margin: 0;
        }

        .active::after {
          top: initial;
          bottom: 0;
          right: -1rem;
          height: 1rem;
        }

        .active::before {
          left: -1rem;
          bottom: 0;
          height: 1rem;
        }
        .list-item {
          height: 100%;
          margin-left: 1rem;
          justify-content: center;
          padding-left: 0;
          margin: 0;
          border-radius: 20px 20px 0 0;
          width: 100%;
          // background-color: yellow !important;
          span {
            display: none;
          }
        }
      }
    }
  }
}
