$dark-gold: #b4955acb;
$dark-green: #2a3820;
.sign-container {
  height: 100vh;
  display: flex;
  background: #7fcbae;
  overflow: hidden;
  .alerts-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 0;
  }

  .data {
    width: 100%;
    display: flex;
    .background {
      width: 40%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .top-back {
        height: 100%;
        width: 100%;
        //  background-image: linear-gradient(to right, #1d3f3ce0, #203836);
        // border-top-right-radius: 10rem;
        overflow: hidden;
        position: absolute;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    /*   .user::before {
      content: "";
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: -7rem;
      left: -7rem;
      background: #e5efee;
      border-radius: 50%;
    } */

    #dark {
      background-color: #303030;

      .form-container {
        .form-title {
          color: #e5efee;
        }
        .other-user-type {
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }

    .user {
      background-color: #e5efee;
      width: 60%;
      position: relative;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;

      .links {
        position: absolute;
        top: 0;
        left: 0;

        margin: 0.1rem 0.4rem;
        a {
          img {
            height: 2rem;
            margin: 5px;
          }
        }
      }

      .form-container {
        position: absolute;

        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        padding: 2rem;
        border-radius: 20px;

        .form-title {
          text-align: center;
          padding-bottom: 1rem;
          color: #203836;
          font-family: "Montserrat", sans-serif;
        }

        .sign-btn {
          width: 100%;
          border: none;
          height: 3rem;
          outline: none;
          border-radius: 10px;
          background: #b4955a;
          color: #fff;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 1.1rem;
        }

        .google {
          margin-top: 1rem;
          background-color: #fff;
          box-shadow: 0 5px 7px -7px #203836;
          color: #fc0000;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0;
          img {
            width: 1rem;
          }
        }

        .sign-btn:hover {
          cursor: pointer;
        }
        .sign-btn:focus,
        .sign-btn:active {
          outline: none;
        }
      }

      .other-user-type {
        margin-top: 0.3rem;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        text-align: end;
        width: 100%;
      }

      form {
        .or {
          text-align: center;
          width: 100%;
          color: #767676;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "Montserrat", sans-serif;
          margin: 1rem 0;
          .line {
            height: 1px;
            width: 35%;
            background: #c7c7c7a2;
          }
        }
        .text-input {
          display: flex;
          flex-direction: column;
          height: 4rem;
          font-family: "Montserrat", sans-serif;

          label {
            font-size: 0.6rem;
            font-weight: bolder;
            color: #203836;
          }

          .input-container {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            border-bottom: 1px solid rgb(190, 187, 187);
            .icon {
              height: 1rem;
              width: 1rem;
            }

            input {
              width: 100%;
              outline: none;
              border: none;
              background-color: inherit;
              //   background-color: #e5efee;

              height: 2rem;
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
    /*  .user::after {
      content: "";
      width: 10rem;
      height: 10rem;
      position: absolute;
      bottom: -5rem;
      left: -5rem;
      background: #e5efee;
      border-radius: 50%;
    } */
  }
}

@media screen and (max-width: 1000px) {
  .sign-container {
    .data {
      .user {
        .form-container {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .sign-container {
    .data {
      .user {
        width: 100%;
        border-radius: 0;
        .form-container {
          width: 85%;
        }
      }

      .background {
        width: 0;
        display: none;
      }
    }
  }
}
