@mixin centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin priceBall {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: #b4955a;
  top: 2rem;
}
.flight_map-container {
  background-color: #4f5c56;
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  font-family: "Montserrat", sans-serif;

  .map-container {
    height: 80%;
    overflow: hidden;
    border-radius: 20px;
    div {
      height: 100% !important;
    }
  }

  .top {
    display: flex;
    height: 20%;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    .stops {
      font-size: 0.7rem;
    }
    .loc {
      @include centerColumn();

      .title {
        font-size: 0.6rem;
        font-weight: bold;
      }
      span {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
