.profile-component {
  display: flex;

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    font-family: "Montserrat", sans-serif;
    width: 100%;

    .user-data {
      width: 50%;
      background: #7fcbae;
      position: relative;
      box-shadow: 0 2px 10px -1px #333;
      .user-img {
        position: absolute;
        border-radius: 50%;
        overflow: hidden;

        top: -1.5rem;
        left: -1.5rem;
        img {
          width: 8rem;
          position: relative;
          z-index: 10;
          border-radius: 50%;
        }
      }

      .user-info {
        height: 20rem;
        text-align: center;

        .name {
          font-size: 2rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #203836;
          color: #fff;
          font-weight: bold;
        }

        .email {
          margin: 2rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .profile-component {
    .profile-container {
      .user-data {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .profile-component {
    .profile-container {
      .user-data {
        width: 70%;
        .user-info {
          .name {
            justify-content: flex-end;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .profile-component {
    .profile-container {
      .user-data {
        width: 90%;
      }
    }
  }
}
