.alert {
  margin: 0.2rem 2rem;
  padding: 1rem;

  border-radius: 20px;
  color: #fff;
  z-index: 100;
  animation-name: toTop;
  animation-duration: 1s;
  font-family: "Secular One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;

  img {
    margin-left: 1rem;
  }

  img:hover {
    cursor: pointer;
  }
}

.success {
  background: #58d46d;
}
.error {
  background: #d45858;
}

@keyframes toTop {
  0% {
    transform: translateX(1rem);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
